{
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "import/prefer-default-export": ["off"],
    "no-param-reassign": ["off"],
    "space-before-function-paren": ["error", "always"],
    "vue/html-quotes": ["error", "single"]
  }
}
